{% extends "base.html" %}


{% block content %} 
		{% for object in object_list %}
			<div class="media">
				  <div class="media-left">
				    <a href="#">
				      <img class="media-object" src="..." alt="...">
				    </a>
				  </div>
				  <div class="media-body">
				    <h4 class="media-heading">Media heading</h4>
				    ...
				  </div>
			</div>

			<p>{{ object.content }}<br/>
				{{ object.user }}<br/>
				{{ object.timestamp|timesince }} ago</p>><br/><br/>
		{% empty %}
			<p>No tweet yet.</p>
		{% endfor %}
{% endblock content %}