{% extends "base.html" %}

{% block script %}
 	<script type="text/javascript">
	$(document).ready(function(){
		loadTweetContainer("tweet-container", {{ object.id }})
	});
	</script>
 {% endblock script %}

{% block content %}
<div id="page-outer">
	<div id="page-container" class="AppContent wrapper wrapper-home">
  <div class='row'>
		<div class='Grid Grid--withGutter' style="width:100%">
			<div class='Grid-cell u-size1of3 u-lg-size1of4' style="background-color: #2196f3;text-align:center; box-shadow: 1px 1.5px 1px 1.5px #888888;">
				<div class="Grid Grid--withGutter heading_set">
					<div class="Grid-cell">
            <h1 class="ProfileHeaderCard-name" style="margin: 15px">
              {{ object.user }}</h1>


					</div>
				</div> 		  
			</div>
			<div class='Grid-cell u-size2of3 u-lg-size3of4' style="padding-left: 15px; width: 80%">
				<div class="Grid Grid--withGutter" style='background-color:white; box-shadow: 1px 1.5px 1px 1.5px #888888; padding-left: 15px;font-size:15px'>
          <div id='tweet-container'  style="padding:15px;background-color: white;">
      		</div>

					</div>
				</div>
			</div>
		</div>
  </div>
	</div>
</div>
 {% endblock content %}
