{% extends "base.html" %}
{% load recommended %}
 {% block script %}
 	<script type="text/javascript">
 		$(document).ready(function(){
		loadTweetContainer("tweet-container")
	});
	</script>
 {% endblock script %}

{% block content %}

<div id="page-outer">
 <div id="page-container" class="AppContent  wrapper-search">

        <div class="SearchNavigation">
          <div class="SearchNavigation-canopy u-bgUserColor">
            <div class="SearchNavigation-textContainer">
              <h1 class="SearchNavigation-titleText" style="padding-left: 3em;" dir="ltr">
                #{{ obj.tag }}
              </h1>
            </div>

          </div>
        </div>

        <div class="AppContainer" style="margin-top: 5em;">
          <div class="AppContent-main u-cf">
            <div class="Grid Grid--withGutter" >
              <div class="Grid-cell u-size1of3 u-lg-size1of4">

                  <div class="SidebarCommonModules" style="margin:15px">
                    <div class="module wtf-module js-wtf-module roaming-module has-content">
                      <div class="flex-module">
                        <div class="flex-module-header">
                          <h3>Who to follow</h3>
                          <input type="button" value="Refresh" class="btn-link js-refresh-suggestions" style="padding:1em" onClick="document.location.reload(true)"/>
                        </div>

                        <div class="js-recommended-followers dashboard-user-recommendations flex-module-inner" data-section-id="wtf" style="opacity: 1;">
                            <div style="border: 0px solid #1da1f2;margin: 10px; border-radius: 15px; text-decoration-color: white; background-color: white/*#1da1f2*/;width: 90%; display: inline-block; color: white">
                              <!-- <p class="paddingconstant">
                    						<a> <img class="image" src="https://www.thehindu.com/sci-tech/technology/internet/article17759222.ece/alternates/FREE_660/02th-egg-person" height="50em" width="50em"/>  </a>
                    					</p> -->
                    					<p class="paddingconstant">
                    					<a> {% recommended request.user%} </a> </p>

                              <style>
                      					.image{
                      						border-radius: 100%;
                      					}
                      				</style>

                            </div>

                        </div>
                      </div>

                      <div class="module Trends trends">
                        <div class="trends-inner">
                          <div class="flex-module trends-container context-trends-container">
                            <div class="flex-module-header">
                              <h3>Trends For You</h3>
                            </div>

                            <div class="flex-module-inner">
                              <ul class="trend-items js-trends">
                                <p class="paddingconstant">

                                {% for hashtag in hashtags %}
                                <li style="padding-left: 1em;padding-bottom:1em; font-size: 20px;">
                                  <p><a href="/tags/{{hashtag}}"> #{{ hashtag }} </a>
                                  </p>
                                </li>
                                {% endfor%}
                               </p>

                              </ul>
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="Grid-cell u-size2of3 u-lg-size3of4" ">
                <div class="row" style="margin:15px">
                 <div class="col-sm-12" style="background-color: white">
                   {% if request.GET.q %}
                   <p class="lead">Results for {{ request.GET.q }}</p>
                   {% endif %}
                 </div>

                 <div class="col-sm-8 col-sm-offset-2" style="background-color: white; padding-left:20px">
                     <h1>Tweets</h1>
                     <hr/>
                     <div id="tweet-container" data-url="/api/tags/{{ obj.tag }}/">
                     </div>

                     <a href="#" id="loadmore">Load More Tweets</a>

                 </div>

               </div>



              </div>
            </div>
          </div>
        </div>

 </div>
</div>







{% endblock content %}



<!-- {% for object in object_list %}
				<div class="media">
				  <div class-="media-left">
				  	<a href="#">
				  	  {% if object.image %}
				        <img class="media-object" src="..." alt="..."/>
				  	  {% endif %}
				    </a>
				  </div>
				  <div class="media-body">
				    	{{ object.content }}<br/>
				    	via {{ object.user }}  | {{ object.timestamp | timesince}} ago | <a href='{{ object.get_absolute_url }}'>View</a>
				  </div>
				</div>
		        </hr>

			 {% empty %}
			    {% if request.GET.q %}
				 <p>No tweets Found</p>
				{% else %}
				 <p>No tweets yet</p>
				{% endif %}
		    {% endfor %} -->

<!-- {% for object in object_list %}
				<div class="media">
				  <div class-="media-left">
				  	<a href="#">
				  	  {% if object.image %}
				        <img class="media-object" src="..." alt="..."/>
				  	  {% endif %}
				    </a>
				  </div>
				  <div class="media-body">
				    	{{ object.content }}<br/>
				    	via {{ object.user }}  | {{ object.timestamp | timesince}} ago | <a href='{{ object.get_absolute_url }}'>View</a>
				  </div>
				</div>
		        </hr>

			 {% empty %}
			    {% if request.GET.q %}
				 <p>No tweets Found</p>
				{% else %}
				 <p>No tweets yet</p>
				{% endif %}
		    {% endfor %} -->
