{% extends "base.html" %}
{% block script %}
<script>
    $(document).ready(function(){
    
        $("#id_email").css("width", "50%");
        $(".errorlist").css("color", "red");

      $("#id_old_password").attr('placeholder', 'Old password');
      $("#id_new_password1").attr('placeholder', 'New password');
      $("#id_new_password2").attr('placeholder', 'Confirm password');
        });
</script>
{% endblock %}
{% block head %}
<style>
  body{
    background-color: #ebebeb;
  }

 
</style>
<title>Change Password</title>
<link rel="stylesheet" href="https://abs.twimg.com/a/1515531216/css/t1/twitter_core.bundle.css" class="coreCSSBundles">
    <link rel="stylesheet" class="moreCSSBundles" href="https://abs.twimg.com/a/1515531216/css/t1/twitter_more_1.bundle.css">
    <link rel="stylesheet" class="moreCSSBundles" href="https://abs.twimg.com/a/1515531216/css/t1/twitter_more_2.bundle.css">

    <link rel="dns-prefetch" href="https://pbs.twimg.com">
    <link rel="dns-prefetch" href="https://t.co">
    <link rel="preload" href="https://abs.twimg.com/k/en-gb/init.en-gb.0aa8dbebc3cfc543c67e.js" as="script">
    <link rel="preload" href="https://abs.twimg.com/k/en-gb/0.commons.en-gb.cf50ad922f8e5cf8b01f.js" as="script">

    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
{% endblock %}

{% block content%}
  <div id="doc"  class="route-login login-responsive">

        <div id="page-outer">
          <div id="page-container" class="AppContent wrapper wrapper-login">

            <div class="page-canvas">

  <div class="signin-wrapper" data-login-message="" style="font-family:lato; font-style: normal;">
    <h1 class="login" style="font-family:lato; font-style: normal; font-weight: bold">Change Password</h1>
    {% if form.errors %}
      {% if form.old_password.errors %}
        <p> {{ form.old_password.errors }} </p>
      {% endif %}

      {% if form.new_password1.errors %}
        <p>{{ form.new_password1.errors }} </p>
      {% endif %}


      {% if form.new_password2.errors %}
        <p>{{  form.new_password2.errors }}</p>
      {% endif %}

    {% endif %}
 <form method="post" class="t1-form clearfix signin js-signin" > 



  
      <fieldset>

  <legend class="visuallyhidden">Change Password</legend>


    {% csrf_token %}
      <!--   {{form.as_p }} -->
    <div class="clearfix field">
     
         {{ form.old_password  }}
    </div>
     <div class="clearfix field">
     
         {{ form.new_password1 }}
    </div>
    <div class="clearfix field">
     
         {{ form.new_password2  }}
    </div>
 



</fieldset>

      <div class="captcha js-captcha">
      </div>
      <div class="clearfix">


  <button type="submit" class="submit EdgeButton EdgeButton--primary EdgeButtom--medium">Change</button>

  <div class="subchck">
 <!--    <label class="t1-label remember">
      <input type="checkbox" value="1" name="remember_me" checked="checked">
      Remember me
      <span class="separator">·</span>

    </label> -->
  </div>
</div>

    </form>
  </div>

  <div class="clearfix mobile has-sms">
    
    <p class="signup-helper">
    
      <a id="login-signup-link" href="/">Return to home&#32;&raquo;</a>
    </p>

  </div>

</div>

          </div>
        </div>
</div>
{% endblock content %}


<!-- <form method="POST">
   {% csrf_token %}
   {{form.as_p }}
   <button type="submit">Update</button>
</form> -->
