{% block script %}
<script>
    $(document).ready(function(){
        $("form input").addClass('form-control')
        });
</script>

{% endblock %}
{% block content %}

<!DOCTYPE html>

<html lang="en-gb" data-scribe-reduced-action-queue="true">
  <head>

    <meta charset="utf-8">

    <link rel="stylesheet" href="https://abs.twimg.com/a/1515531216/css/t1/twitter_core.bundle.css" class="coreCSSBundles">
    <link rel="stylesheet" class="moreCSSBundles" href="https://abs.twimg.com/a/1515531216/css/t1/twitter_more_1.bundle.css">
    <link rel="stylesheet" class="moreCSSBundles" href="https://abs.twimg.com/a/1515531216/css/t1/twitter_more_2.bundle.css">

    <link rel="dns-prefetch" href="https://pbs.twimg.com">
    <link rel="dns-prefetch" href="https://t.co">
    <link rel="preload" href="https://abs.twimg.com/k/en-gb/init.en-gb.0aa8dbebc3cfc543c67e.js" as="script">
    <link rel="preload" href="https://abs.twimg.com/k/en-gb/0.commons.en-gb.cf50ad922f8e5cf8b01f.js" as="script">

    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
      <title>Login on Cuckoo</title>
      <meta name="robots" content="NOODP">
  <meta name="description" content="Welcome back to Cuckoo. Sign in now to check your notifications, join the conversation and catch up on Tweets from the people you follow.">


  <style>
  div .login{
    font-family: "lato"
    font-style:normal;
    font-weight: bold;
  }
  .errorlist
  {
    color: red;
  }
    /* body{
      font-family: "Lato"
    } */
  </style>




  </head>
  <body class="three-col logged-out"
data-fouc-class-names="swift-loading no-nav-banners"
 dir="ltr">
      <script id="swift_loading_indicator" nonce="Es0zvn/tnRlm/G2hW1KXMw==">
        document.body.className=document.body.className+" "+document.body.getAttribute("data-fouc-class-names");
      </script>

    <a href="#timeline" class="u-hiddenVisually focusable">Skip to content</a>


    <div id="doc"  class="route-login login-responsive">
        <div class="topbar js-topbar">


    <div class="global-nav global-nav--newLoggedOut" style="background-image: url(../../img/t1/lohp_streams_header_bg_v4.png);" data-section-term="top_nav">
      <div class="global-nav-inner" style="background-color: #2196f3;">
        <div class="container">


<ul class="nav js-global-actions" role="navigation" id="global-actions">
  <li id="global-nav-home" class="home" data-global-action="home">
    <a class="js-nav js-tooltip js-dynamic-tooltip" data-placement="bottom" href="/" data-component-context="home_nav" data-nav="home">
      <span class="Icon Icon--bird Icon--large" style="background-image:none !important; color:white"></span>
      <span class="text" aria-hidden="true"; style="color: white">Cuckoo</span>
      <span class="u-hiddenVisually a11y-inactive-page-text">Cuckoo</span>
      <!-- <span class="u-hiddenVisually a11y-active-page-text">Home, current page.</span> -->
    </a>
  </li>
   <!--  <li id="global-nav-about" class="about" data-global-action="about">
      <a class="js-tooltip js-dynamic-tooltip" data-placement="bottom" href="/about" target="_blank" data-component-context="about_nav" data-nav="about" rel="noopener">
        <span class="text">About</span>
      </a>
    </li> -->
</ul>
<div class="pull-right nav-extras">

  <ul class="nav secondary-nav language-dropdown">
    <li class="dropdown js-language-dropdown">
      <a href="{% url 'register' %}"" class="dropdown-toggle js-dropdown-toggle">
       <span class="js-current-language"; style="color: white; font-style: Opensans;" >Sign up</span>
      </a>


    </li>
  </ul>


</div>

        </div>
      </div>
    </div>
</div>


        <div id="page-outer">
          <div id="page-container" class="AppContent wrapper wrapper-login">

            <div class="page-canvas">

  <div class="signin-wrapper" data-login-message="" style="font-family:lato; font-style: normal;">
    <h1 class="login" style="font-family:lato; font-style: normal; font-weight: bold">Log in to Cuckoo</h1>
    {% if form.errors %}
<p class="errorlist">Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p class="errorlist">Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>

    {% endif %}
{% endif %}
<form method="post" action="{% url 'login' %}" class="t1-form clearfix signin js-signin" >
{% csrf_token %}
<form method="post" action="{% url 'login' %}" class="t1-form clearfix signin js-signin" >
{% csrf_token %}
    <form action="https://twitter.com/sessions" class="t1-form clearfix signin js-signin" method="post">
      <fieldset>

  <legend class="visuallyhidden">Log in</legend>

  <div class="clearfix field">
    <input
      class="js-username-field email-input js-initial-focus"
      type="text"
      name="username"
      id="username"
      autocomplete="on" value=""
      placeholder="username"
    />
  </div>
  <div class="clearfix field">
    <input class="js-password-field" type="password" name="password" id="password" placeholder="Password">
  </div>

  <input type="hidden" value="63063ed42fc422060c51e4e3bebe6454daf37c3b" name="authenticity_token"/>

      <input type="hidden" name="ui_metrics" autocomplete="off">
      <script src="/i/js_inst?c_name=ui_metrics" async></script>

</fieldset>

      <div class="captcha js-captcha">
      </div>
      <div class="clearfix">


  <button type="submit" class="submit EdgeButton EdgeButton--primary EdgeButtom--medium">Log in</button>

  <div class="subchck">
 <!--    <label class="t1-label remember">
      <input type="checkbox" value="1" name="remember_me" checked="checked">
      Remember me
      <span class="separator">·</span>

    </label> -->
  </div>
</div>

    </form>
  </div>

  <div class="clearfix mobile has-sms">
    <p class="signup-helper">
      New to Cuckoo?
      <a id="login-signup-link" href="{% url 'register' %}">Sign up now&#32;&raquo;</a>
    </p>

  </div>

</div>

          </div>
        </div>
    </div>
    <script src="https://abs.twimg.com/k/en-gb/init.en-gb.0aa8dbebc3cfc543c67e.js" async></script>

  </body>
</html>
{% endblock %}
